In [2]:
from leetscrape.GetQuestionsList import GetQuestionsList

In [3]:
ls = GetQuestionsList()

In [4]:
ls.scrape()

Scraping companies ... Done
Scraping questions list ... Done
Extracting question topics ... Done
Getting Categories ... Done
Scraping Topic Tags ... Done
Extracting question category ... Done

In [5]:
vars(ls)

{'limit': 10000,
 'companies':           name       slug  questionCount
 0     Facebook   facebook            640
 1    Bloomberg  bloomberg            561
 2       Amazon     amazon           1289
 3        Apple      apple            611
 4       TikTok     tiktok            251
 ..         ...        ...            ...
 400     Pickrr     pickrr              1
 401      Unbxd      unbxd              1
 402      Polar      polar              1
 403    Clutter    clutter              1
 404    purplle    purplle              1

 [405 rows x 3 columns],
 'questions':        QID                                              title  \
 0        1                                            Two Sum
 1        2                                    Add Two Numbers
 2        3     Longest Substring Without Repeating Characters
 3        4                        Median of Two Sorted Arrays
 4        5                      Longest Palindromic Substring
 ...    ...                                                ...
 2888  2889                                Reshape Data: Pivot
 2889  2890                                 Reshape Data: Melt
 2890  2891                                    Method Chaining
 2891  2892  Minimizing Array After Replacing Pairs With Th...
 2892  2893              Calculate Orders Within Each Interval

                                               titleSlug difficulty  \
 0                                               two-sum       Easy
 1                                       add-two-numbers     Medium
 2        longest-substring-without-repeating-characters     Medium
 3                           median-of-two-sorted-arrays       Hard
 4                         longest-palindromic-substring     Medium
 ...                                                 ...        ...
 2888                                 reshape-data-pivot       Easy
 2889                                  reshape-data-melt       Easy
 2890                                    method-chaining       Easy
 2891  minimizing-array-after-replacing-pairs-with-th...     Medium
 2892              calculate-orders-within-each-interval     Medium

       acceptanceRate  paidOnly                               topicTags  \
 0          50.796176     False                        array,hash-table
 1          41.318349     False              linked-list,math,recursion
 2          34.040660     False        hash-table,string,sliding-window
 3          38.088872     False  array,binary-search,divide-and-conquer
 4          32.800383     False              string,dynamic-programming
 ...              ...       ...                                     ...
 2888       83.703704     False
 2889       86.785260     False
 2890       74.456008     False
 2891       43.835616      True
 2892       86.111111      True

      categorySlug
 0      algorithms
 1      algorithms
 2      algorithms
 3      algorithms
 4      algorithms
 ...           ...
 2888   algorithms
 2889   algorithms
 2890   algorithms
 2891   algorithms
 2892     database

 [2893 rows x 8 columns],
 'questionTopics':        QID              tagSlug
 0        1                array
 1        1           hash-table
 2        2          linked-list
 3        2                 math
 4        2            recursion
 ...    ...                  ...
 8383  2875       sliding-window
 8384  2875           prefix-sum
 8385  2876  dynamic-programming
 8386  2876                graph
 8387  2876          memoization

 [8313 rows x 2 columns],
 'categories':           slug         name
 0   algorithms   Algorithms
 1     database     Database
 2        shell        Shell
 3  concurrency  Concurrency,
 'topicTags':                             slug                          name
 0                          array                         Array
 1                         string                        String
 2                     hash-table                    Hash Table
 3            dynamic-programming           Dynamic Programming
 4                           math                          Math
 ..                           ...                           ...
 66              eulerian-circuit              Eulerian Circuit
 67                    radix-sort                    Radix Sort
 68  strongly-connected-component  Strongly Connected Component
 69            rejection-sampling            Rejection Sampling
 70         biconnected-component         Biconnected Component

 [71 rows x 2 columns],
 'questionCategory':        QID categorySlug
 0        1   algorithms
 1        2   algorithms
 2        3   algorithms
 3        4   algorithms
 4        5   algorithms
 ...    ...          ...
 2821  1188  concurrency
 2822  1195  concurrency
 2823  1226  concurrency
 2824  1242  concurrency
 2825  1279  concurrency

 [2826 rows x 2 columns]}

In [1]:
import duckdb

con = duckdb.connect('questions.db')

In [5]:
con.close()

In [3]:
from db import get_algorithms

In [4]:
get_algorithms()

                                               types
0  [divide_and_conquer, greedy, dynamic_programmi...

In [111]:
import pandas as pd

alg_types = pd.DataFrame([{
  'types': ['divide_and_conquer', 'greedy', 'dynamic_programming', 'graph', 'recursion']
}])

In [112]:
con.sql("CREATE TABLE algorithms as select * from alg_types")

In [101]:
con.sql("DESCRIBE leetcode")

┌────────────────┬─────────────┬─────────┬─────────┬─────────┬───────┐
│  column_name   │ column_type │  null   │   key   │ default │ extra │
│    varchar     │   varchar   │ varchar │ varchar │ varchar │ int32 │
├────────────────┼─────────────┼─────────┼─────────┼─────────┼───────┤
│ QID            │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
│ title          │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
│ titleSlug      │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
│ difficulty     │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
│ acceptanceRate │ DOUBLE      │ YES     │ NULL    │ NULL    │  NULL │
│ paidOnly       │ BOOLEAN     │ YES     │ NULL    │ NULL    │  NULL │
│ topicTags      │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
│ categorySlug   │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
└────────────────┴─────────────┴─────────┴─────────┴─────────┴───────┘

In [107]:
# con.sql("DESCRIBE leetcode")
con.sql("UPDATE leetcode SET algorithm='greedy', data_structures='hash-map' WHERE QID = '1'")

In [64]:
new_records = ['2']

duckdb.sql("select * from content where id in ('1')")

┌───────┬─────────┬────────────┬──────────────────────┬───────────────────┬────────────────────────────────────────────┐
│  id   │  title  │ difficulty │         link         │       tags        │                  content                   │
│ int32 │ varchar │  varchar   │       varchar        │      varchar      │                  varchar                   │
├───────┼─────────┼────────────┼──────────────────────┼───────────────────┼────────────────────────────────────────────┤
│     1 │ Two Sum │ Easy       │ https://leetcode.c…  │ Array, Hash Table │ Given an array of integers nums and an i…  │
└───────┴─────────┴────────────┴──────────────────────┴───────────────────┴────────────────────────────────────────────┘

In [34]:
duckdb.sql('CREATE TABLE content (id INTEGER PRIMARY KEY, title VARCHAR(255), difficulty VARCHAR(255), link VARCHAR(255), tags VARCHAR(255), content VARCHAR(255))')

In [35]:
duckdb.sql('DESCRIBE content')

┌─────────────┬─────────────┬─────────┬─────────┬─────────┬───────┐
│ column_name │ column_type │  null   │   key   │ default │ extra │
│   varchar   │   varchar   │ varchar │ varchar │ varchar │ int32 │
├─────────────┼─────────────┼─────────┼─────────┼─────────┼───────┤
│ id          │ INTEGER     │ NO      │ PRI     │ NULL    │  NULL │
│ title       │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
│ difficulty  │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
│ link        │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
│ tags        │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
│ content     │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
└─────────────┴─────────────┴─────────┴─────────┴─────────┴───────┘

In [43]:
ls.questions

,QID,title,titleSlug,difficulty,acceptanceRate,paidOnly,topicTags,categorySlug
0,1,Two Sum,two-sum,Easy,50.796176,False,"array,hash-table",algorithms
1,2,Add Two Numbers,add-two-numbers,Medium,41.318349,False,"linked-list,math,recursion",algorithms
2,3,Longest Substring Without Repeating Characters,longest-substring-without-repeating-characters,Medium,34.040660,False,"hash-table,string,sliding-window",algorithms
3,4,Median of Two Sorted Arrays,median-of-two-sorted-arrays,Hard,38.088872,False,"array,binary-search,divide-and-conquer",algorithms
4,5,Longest Palindromic Substring,longest-palindromic-substring,Medium,32.800383,False,"string,dynamic-programming",algorithms
...,...,...,...,...,...,...,...,...
2888,2889,Reshape Data: Pivot,reshape-data-pivot,Easy,83.703704,False,,algorithms
2889,2890,Reshape Data: Melt,reshape-data-melt,Easy,86.785260,False,,algorithms
2890,2891,Method Chaining,method-chaining,Easy,74.456008,False,,algorithms
2891,2892,Minimizing Array After Replacing Pairs With Th...,minimizing-array-after-replacing-pairs-with-th...,Medium,43.835616,True,,algorithms
2892,2893,Calculate Orders Within Each Interval,calculate-orders-within-each-interval,Medium,86.111111,True,,database

In [39]:
some_data = {
    'id': "1",
    'title': 'Two Sum',
    'difficulty': 'Easy',
    'link': 'https://leetcode.com/problems/two-sum/',
    'tags': 'Array, Hash Table',
    'content': 'Given an array of integers nums and an integer target, return indices of the two numbers such that they add up to target.'
}

In [49]:
# extract the values for insert from the dictionary

values = tuple(some_data.values())

('1',
 'Two Sum',
 'Easy',
 'https://leetcode.com/problems/two-sum/',
 'Array, Hash Table',
 'Given an array of integers nums and an integer target, return indices of the two numbers such that they add up to target.')

In [51]:
# build an insert statement from the some_data dictionary

insert_statement = 'INSERT INTO content VALUES {}'.format(values)
insert_statement

"INSERT INTO content VALUES ('1', 'Two Sum', 'Easy', 'https://leetcode.com/problems/two-sum/', 'Array, Hash Table', 'Given an array of integers nums and an integer target, return indices of the two numbers such that they add up to target.')"

In [52]:
duckdb.sql(insert_statement)

In [53]:
duckdb.sql('SELECT * FROM content')

┌───────┬─────────┬────────────┬──────────────────────┬───────────────────┬────────────────────────────────────────────┐
│  id   │  title  │ difficulty │         link         │       tags        │                  content                   │
│ int32 │ varchar │  varchar   │       varchar        │      varchar      │                  varchar                   │
├───────┼─────────┼────────────┼──────────────────────┼───────────────────┼────────────────────────────────────────────┤
│     1 │ Two Sum │ Easy       │ https://leetcode.c…  │ Array, Hash Table │ Given an array of integers nums and an i…  │
└───────┴─────────┴────────────┴──────────────────────┴───────────────────┴────────────────────────────────────────────┘

In [72]:
import pandas as pd
questions = ls.questions

con.sql('CREATE TABLE leetcode AS SELECT * FROM questions')

# con.sql('INSERT INTO leetcode SELECT * FROM questions')

In [109]:
con.close()

In [30]:
duckdb.sql('SELECT * FROM leetcode limit 10')

┌─────────┬──────────────────────┬──────────────────────┬───┬──────────┬──────────────────────┬──────────────┐
│   QID   │        title         │      titleSlug       │ … │ paidOnly │      topicTags       │ categorySlug │
│ varchar │       varchar        │       varchar        │   │ boolean  │       varchar        │   varchar    │
├─────────┼──────────────────────┼──────────────────────┼───┼──────────┼──────────────────────┼──────────────┤
│ 1       │ Two Sum              │ two-sum              │ … │ false    │ array,hash-table     │ algorithms   │
│ 2       │ Add Two Numbers      │ add-two-numbers      │ … │ false    │ linked-list,math,r…  │ algorithms   │
│ 3       │ Longest Substring …  │ longest-substring-…  │ … │ false    │ hash-table,string,…  │ algorithms   │
│ 4       │ Median of Two Sort…  │ median-of-two-sort…  │ … │ false    │ array,binary-searc…  │ algorithms   │
│ 5       │ Longest Palindromi…  │ longest-palindromi…  │ … │ false    │ string,dynamic-pro…  │ algorithms   │
│ 6       │ Zigzag Conversion    │ zigzag-conversion    │ … │ false    │ string               │ algorithms   │
│ 7       │ Reverse Integer      │ reverse-integer      │ … │ false    │ math                 │ algorithms   │
│ 8       │ String to Integer …  │ string-to-integer-…  │ … │ false    │ string               │ algorithms   │
│ 9       │ Palindrome Number    │ palindrome-number    │ … │ false    │ math                 │ algorithms   │
│ 10      │ Regular Expression…  │ regular-expression…  │ … │ false    │ string,dynamic-pro…  │ algorithms   │
├─────────┴──────────────────────┴──────────────────────┴───┴──────────┴──────────────────────┴──────────────┤
│ 10 rows                                                                                8 columns (6 shown) │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [96]:
q = con.sql('SELECT * FROM leetcode limit 10').fetchall()[0]

In [77]:
q

('1',
 'Two Sum',
 'two-sum',
 'Easy',
 50.796176077531975,
 False,
 'array,hash-table',
 'algorithms')

In [87]:
from leetscrape.GetQuestionInfo import GetQuestionInfo

In [93]:
q = GetQuestionInfo(q)

In [94]:
q.questions_info

                                                     QID
titleSlug
two-sum                                                1
add-two-numbers                                        2
longest-substring-without-repeating-characters         3
median-of-two-sorted-arrays                            4
longest-palindromic-substring                          5
...                                                  ...
reshape-data-concatenate                            2888
reshape-data-pivot                                  2889
reshape-data-melt                                   2890
method-chaining                                     2891
minimizing-array-after-replacing-pairs-with-the...  2892

[2577 rows x 1 columns]

In [97]:
import requests
BASE_URL = "https://leetcode.com/graphql"
data = {
            "query": """query questionHints($titleSlug: String!) {
                question(titleSlug: $titleSlug) {
                    questionFrontendId
                    hints
                    similarQuestions
                    codeSnippets {
                        lang
                        langSlug
                        code
                    }
                    content
                }
            }
        """,
            "variables": {"titleSlug": q[2]},
        }
req = requests.post(BASE_URL, json=data)

In [98]:
req.json()

{'data': {'question': {'questionFrontendId': '1',
   'hints': ["A really brute force way would be to search for all possible pairs of numbers but that would be too slow. Again, it's best to try out brute force solutions for just for completeness. It is from these brute force solutions that you can come up with optimizations.",
    'So, if we fix one of the numbers, say <code>x</code>, we have to scan the entire array to find the next number <code>y</code> which is <code>value - x</code> where value is the input parameter. Can we change our array somehow so that this search becomes faster?',
    'The second train of thought is, without changing the array, can we use additional space somehow? Like maybe a hash map to speed up the search?'],
   'similarQuestions': '[{"title": "3Sum", "titleSlug": "3sum", "difficulty": "Medium", "translatedTitle": null}, {"title": "4Sum", "titleSlug": "4sum", "difficulty": "Medium", "translatedTitle": null}, {"title": "Two Sum II - Input Array Is Sorted", "titleSlug": "two-sum-ii-input-array-is-sorted", "difficulty": "Medium", "translatedTitle": null}, {"title": "Two Sum III - Data structure design", "titleSlug": "two-sum-iii-data-structure-design", "difficulty": "Easy", "translatedTitle": null}, {"title": "Subarray Sum Equals K", "titleSlug": "subarray-sum-equals-k", "difficulty": "Medium", "translatedTitle": null}, {"title": "Two Sum IV - Input is a BST", "titleSlug": "two-sum-iv-input-is-a-bst", "difficulty": "Easy", "translatedTitle": null}, {"title": "Two Sum Less Than K", "titleSlug": "two-sum-less-than-k", "difficulty": "Easy", "translatedTitle": null}, {"title": "Max Number of K-Sum Pairs", "titleSlug": "max-number-of-k-sum-pairs", "difficulty": "Medium", "translatedTitle": null}, {"title": "Count Good Meals", "titleSlug": "count-good-meals", "difficulty": "Medium", "translatedTitle": null}, {"title": "Count Number of Pairs With Absolute Difference K", "titleSlug": "count-number-of-pairs-with-absolute-difference-k", "difficulty": "Easy", "translatedTitle": null}, {"title": "Number of Pairs of Strings With Concatenation Equal to Target", "titleSlug": "number-of-pairs-of-strings-with-concatenation-equal-to-target", "difficulty": "Medium", "translatedTitle": null}, {"title": "Find All K-Distant Indices in an Array", "titleSlug": "find-all-k-distant-indices-in-an-array", "difficulty": "Easy", "translatedTitle": null}, {"title": "First Letter to Appear Twice", "titleSlug": "first-letter-to-appear-twice", "difficulty": "Easy", "translatedTitle": null}, {"title": "Number of Excellent Pairs", "titleSlug": "number-of-excellent-pairs", "difficulty": "Hard", "translatedTitle": null}, {"title": "Number of Arithmetic Triplets", "titleSlug": "number-of-arithmetic-triplets", "difficulty": "Easy", "translatedTitle": null}, {"title": "Node With Highest Edge Score", "titleSlug": "node-with-highest-edge-score", "difficulty": "Medium", "translatedTitle": null}, {"title": "Check Distances Between Same Letters", "titleSlug": "check-distances-between-same-letters", "difficulty": "Easy", "translatedTitle": null}, {"title": "Find Subarrays With Equal Sum", "titleSlug": "find-subarrays-with-equal-sum", "difficulty": "Easy", "translatedTitle": null}, {"title": "Largest Positive Integer That Exists With Its Negative", "titleSlug": "largest-positive-integer-that-exists-with-its-negative", "difficulty": "Easy", "translatedTitle": null}, {"title": "Number of Distinct Averages", "titleSlug": "number-of-distinct-averages", "difficulty": "Easy", "translatedTitle": null}, {"title": "Count Pairs Whose Sum is Less than Target", "titleSlug": "count-pairs-whose-sum-is-less-than-target", "difficulty": "Easy", "translatedTitle": null}]',
   'codeSnippets': [{'lang': 'C++',
     'langSlug': 'cpp',
     'code': 'class Solution {\npublic:\n    vector<int> twoSum(vector<int>& nums, int target) {\n        \n    }\n};'},
    {'lang': 'Java',
     'langSlug': 'java',
     'code': 'class Solution {\n    public int[] twoSum(int[] nums, int target) {\n        \n    }\n}'},
    {'lang': 'Python',
     'langSlug': 'python',
     'code': 'class Solution(object):\n    def twoSum(self, nums, target):\n        """\n        :type nums: List[int]\n        :type target: int\n        :rtype: List[int]\n        """\n        '},
    {'lang': 'Python3',
     'langSlug': 'python3',
     'code': 'class Solution:\n    def twoSum(self, nums: List[int], target: int) -> List[int]:\n        '},
    {'lang': 'C',
     'langSlug': 'c',
     'code': '/**\n * Note: The returned array must be malloced, assume caller calls free().\n */\nint* twoSum(int* nums, int numsSize, int target, int* returnSize){\n\n}'},
    {'lang': 'C#',
     'langSlug': 'csharp',
     'code': 'public class Solution {\n    public int[] TwoSum(int[] nums, int target) {\n        \n    }\n}'},
    {'lang': 'JavaScript',
     'langSlug': 'javascript',
     'code': '/**\n * @param {number[]} nums\n * @param {number} target\n * @return {number[]}\n */\nvar twoSum = function(nums, target) {\n    \n};'},
    {'lang': 'TypeScript',
     'langSlug': 'typescript',
     'code': 'function twoSum(nums: number[], target: number): number[] {\n\n};'},
    {'lang': 'PHP',
     'langSlug': 'php',
     'code': 'class Solution {\n\n    /**\n     * @param Integer[] $nums\n     * @param Integer $target\n     * @return Integer[]\n     */\n    function twoSum($nums, $target) {\n        \n    }\n}'},
    {'lang': 'Swift',
     'langSlug': 'swift',
     'code': 'class Solution {\n    func twoSum(_ nums: [Int], _ target: Int) -> [Int] {\n        \n    }\n}'},
    {'lang': 'Kotlin',
     'langSlug': 'kotlin',
     'code': 'class Solution {\n    fun twoSum(nums: IntArray, target: Int): IntArray {\n        \n    }\n}'},
    {'lang': 'Dart',
     'langSlug': 'dart',
     'code': 'class Solution {\n  List<int> twoSum(List<int> nums, int target) {\n\n  }\n}'},
    {'lang': 'Go',
     'langSlug': 'golang',
     'code': 'func twoSum(nums []int, target int) []int {\n    \n}'},
    {'lang': 'Ruby',
     'langSlug': 'ruby',
     'code': '# @param {Integer[]} nums\n# @param {Integer} target\n# @return {Integer[]}\ndef two_sum(nums, target)\n    \nend'},
    {'lang': 'Scala',
     'langSlug': 'scala',
     'code': 'object Solution {\n    def twoSum(nums: Array[Int], target: Int): Array[Int] = {\n        \n    }\n}'},
    {'lang': 'Rust',
     'langSlug': 'rust',
     'code': 'impl Solution {\n    pub fn two_sum(nums: Vec<i32>, target: i32) -> Vec<i32> {\n        \n    }\n}'},
    {'lang': 'Racket',
     'langSlug': 'racket',
     'code': '(define/contract (two-sum nums target)\n  (-> (listof exact-integer?) exact-integer? (listof exact-integer?))\n\n  )'},
    {'lang': 'Erlang',
     'langSlug': 'erlang',
     'code': '-spec two_sum(Nums :: [integer()], Target :: integer()) -> [integer()].\ntwo_sum(Nums, Target) ->\n  .'},
    {'lang': 'Elixir',
     'langSlug': 'elixir',
     'code': 'defmodule Solution do\n  @spec two_sum(nums :: [integer], target :: integer) :: [integer]\n  def two_sum(nums, target) do\n\n  end\nend'}],
   'content': '<p>Given an array of integers <code>nums</code>&nbsp;and an integer <code>target</code>, return <em>indices of the two numbers such that they add up to <code>target</code></em>.</p>\n\n<p>You may assume that each input would have <strong><em>exactly</em> one solution</strong>, and you may not use the <em>same</em> element twice.</p>\n\n<p>You can return the answer in any order.</p>\n\n<p>&nbsp;</p>\n<p><strong class="example">Example 1:</strong></p>\n\n<pre>\n<strong>Input:</strong> nums = [2,7,11,15], target = 9\n<strong>Output:</strong> [0,1]\n<strong>Explanation:</strong> Because nums[0] + nums[1] == 9, we return [0, 1].\n</pre>\n\n<p><strong class="example">Example 2:</strong></p>\n\n<pre>\n<strong>Input:</strong> nums = [3,2,4], target = 6\n<strong>Output:</strong> [1,2]\n</pre>\n\n<p><strong class="example">Example 3:</strong></p>\n\n<pre>\n<strong>Input:</strong> nums = [3,3], target = 6\n<strong>Output:</strong> [0,1]\n</pre>\n\n<p>&nbsp;</p>\n<p><strong>Constraints:</strong></p>\n\n<ul>\n\t<li><code>2 &lt;= nums.length &lt;= 10<sup>4</sup></code></li>\n\t<li><code>-10<sup>9</sup> &lt;= nums[i] &lt;= 10<sup>9</sup></code></li>\n\t<li><code>-10<sup>9</sup> &lt;= target &lt;= 10<sup>9</sup></code></li>\n\t<li><strong>Only one valid answer exists.</strong></li>\n</ul>\n\n<p>&nbsp;</p>\n<strong>Follow-up:&nbsp;</strong>Can you come up with an algorithm that is less than <code>O(n<sup>2</sup>)</code><font face="monospace">&nbsp;</font>time complexity?'}}}

In [18]:
duckdb.sql('describe leetcode')

┌────────────────┬─────────────┬─────────┬─────────┬─────────┬───────┐
│  column_name   │ column_type │  null   │   key   │ default │ extra │
│    varchar     │   varchar   │ varchar │ varchar │ varchar │ int32 │
├────────────────┼─────────────┼─────────┼─────────┼─────────┼───────┤
│ QID            │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
│ title          │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
│ titleSlug      │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
│ difficulty     │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
│ acceptanceRate │ DOUBLE      │ YES     │ NULL    │ NULL    │  NULL │
│ paidOnly       │ BOOLEAN     │ YES     │ NULL    │ NULL    │  NULL │
│ topicTags      │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
│ categorySlug   │ VARCHAR     │ YES     │ NULL    │ NULL    │  NULL │
└────────────────┴─────────────┴─────────┴─────────┴─────────┴───────┘

In [31]:
con.table('leetcode').show()

CatalogException: Catalog Error: Table 'leetcode' does not exist!

In [32]:
con.sql('CREATE TABLE test(i INTEGER)')
con.sql('INSERT INTO test VALUES (42)')

CatalogException: Catalog Error: Table with name "test" already exists!

In [68]:
con.sql("SHOW TABLES")

ConnectionException: Connection Error: Connection has already been closed

In [33]:
con.table('test').show()

┌───────┐
│   i   │
│ int32 │
├───────┤
│    42 │
└───────┘

In [99]:
con.close()